:host {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .main-button {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    font-size: var(--size);
    color: var(--red50);
    cursor: pointer;
  }
}
